<h1>Results</h1>

<h3>Summary</h3>
<ul>
<li><%= @@original_entities.size %> entities supplied</li>
<li><%= @@entities.size %> entities found</li>
<li><%= @@missing.size %> entities missing</li>
<li><%= @@duplicates.size %> duplicates</li>
</ul>

<h3>Download full results as</h3>
<ul class="button-links">
	<li class="btn"><a href="/xls">Excel XLS</a></li>
	<li class="btn"><a href="/csv">CSV</a></li>
</ul>
<hr />
<div id="tabs">
	<ul>
	    <li><a href="#results">Results</a></li>
	    <li><a href="#missing">Missing (<%= @@missing.size %>)</a></li>
	    <li><a href="#dupes">Duplicates (<%= @@duplicates.size %>)</a></li>
	  </ul>
	<div id="missing">
		<h3>Missing Records</h3>
		<p>Reasons: These may be invalid, inactive, or hidden accounts.</p>
		<textarea><%= @@missing.join("\n") %></textarea>
	</div>
	<div id="dupes">
		<h3>Duplicates</h3>
		<textarea><%= @@duplicates.join("\n") %></textarea>
	</div>
	<div id="results">
		<h3>First 20 results</h3>
		<table class="results">
		<tr>
				<th><%= @@entity_type %></th>
			<% for attribute in @@attributes %>
				<th><%= attribute %></th>
			<% end %>
		</tr>		
		<% 
			@@entities.take(20).each { |entity| 
		%>
		<tr>
		<% if entity.kind_of?(Array) %>
			<td><%= entity[0] %></td>
			<%
			for attribute in @@attributes
			%>
				<td><%= entity[1][attribute.to_sym].join(",") %></td>
			<%
			end
			%>
		<% else %>
			<tr><td><%= entity %></td></tr>
		<% end %>
		</tr>
		<% } %>
		</table>
	</div>
</div>