<table>
<tr>
<th><%= @@entity_type %></th>
	<% for attribute in @@attributes %>
<th><%= attribute %></th>
	<% end %>
<th>Organizational/Departmental</th>
</tr>		
<% 
	@@entities.each { |entity| 
%>
<% if entity.kind_of?(Array) %>
<tr>
<td><%= entity[0] %></td>
	<%
	for attribute in @@attributes
	%>
<td><%= entity[1][attribute.to_sym].join(",") %></td>
	<%
	end
	%>
<td><%= entity.last %></td>
</tr>
<% else %>
<tr><td><%= entity %></td></tr>
<% end %>

<% } %>
</table>
